<p class="contribute">
  {% assign source_path = page.path %}
  {% assign source_url = source_path | prepend: "https://gitlab.com/clear-code/windows-luajit-installer/blob/master/docs/" %}
  <a href="{{ source_url }}">If you find any typo, please feel free to send merge requests!</a>
</p>
