<a class="top" href="{{ site.baseurl }}/">
  Windows LuaJIT Installer
</a>
<button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar-supported-content"
        aria-controls="navbar-supported-content"
        aria-expanded="false"
        aria-label="ナビゲーションをトグル">
  <span class="navbar-toggler-icon"></span>
</button>

<div id="navbar-supported-content">
  <ul>
    <li><a href="{{ site.baseurl }}/ja/news/">おしらせ</a></li>
    <li><a href="{{ site.baseurl }}/ja/install/">インストール</a></li>
    <li><a href="{{ site.baseurl }}/ja/usage/">使い方</a></li>
  </ul>
  <span class="other-language-link">
    <a href="{{ site.baseurl }}/{{ relative_path }}">English</a>
  </span>
  {% if page.upper_level != null %}
    <span class="upper-link">
      <a href="{{ page.upper_level }}"><i class="fa fa-arrow-circle-up"></i> 1階層上へ</a>
    </span>
  {% elsif relative_path != "" %}
    {% capture last_component %}{{ page.url | split:"/" | last }}{% endcapture %}
    {% if last_component == "index.html" %}
      {% assign upper_level = "../" %}
    {% else %}
      {% assign upper_level = "./" %}
    {% endif %}
    <span class="upper-link">
      <a href="{{ upper_level }}"><i class="fas fa-arrow-circle-up"></i> 1階層上へ</a>
    </span>
  {% endif %}
  <span class="repository-link">
    <a href="https://gitlab.com/clear-code/windows-luajit-installer"><i class="fab fa-gitlab"></i> GitLab</a>
  </span>
</div>
